<template>
  <section class="slide" :data-layout="layout" :data-theme="theme"
    @touchstart="onTouchStart" @touchmove="onTouchMove" @touchend="onTouchEnd">
    <slot></slot>
  </section>
</template>

<script>
export default {
  name: 'Slide',
  data: function() {
    return {
      startEvent: null,
      moveEvent: null
    };
  },
  props: ['layout', 'theme'],
  methods: {
    onKey: function(/*event*/) {
      // do nothing for now
    },
    onTouchStart: function(event) {
      if(event.targetTouches.length === 1) {
        this.startEvent = event;
      }
    },
    onTouchMove: function(event) {
      if(event.targetTouches.length === 1) {
        this.moveEvent = event;
      }
    },
    onTouchEnd: function() {
      if(this.startEvent && this.moveEvent) {
        const startX = this.startEvent.targetTouches.item(0).screenX;
        const startY = this.startEvent.targetTouches.item(0).screenY;
        const moveX = this.moveEvent.targetTouches.item(0).screenX;
        const moveY = this.moveEvent.targetTouches.item(0).screenY;
        const swipe = {
          x: moveX - startX,
          y: moveY - startY
        };
        const size = {
          width: this.$el.offsetWidth,
          height: this.$el.offsetHeight
        };
        const emittedEvent = {
          size: size,
          swipe: swipe
        };
        this.startEvent = null;
        this.moveEvent = null;
        this.$emit('swipe', emittedEvent);
      }
    }
  }
}
</script>

<style>
.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  font-size: 2vw;
  position: relative;
}
.slide[data-layout="title"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide h1 {
  font-size: 200%;
}
</style>
