<template>
  <div id="slide-viewport">
    <div id="slide-deck" :data-theme="theme">
      <slot></slot>
    </div>
    <div class="slide-control slide-control-forward"><a v-on:click="forward">&gt;</a></div>
    <div class="slide-control slide-control-backward"><a v-on:click="backward">&lt;</a></div>
  </div>
</template>

<script>
export default {
  name: 'SlideDeck',
  props: ['theme'],
  data: function() {
    return {
      slideNumber: 0
    }
  },
  methods: {
    forward: function() {
      this.goToSlide(this.slideNumber+1);
    },
    backward: function() {
      this.goToSlide(this.slideNumber-1);
    },
    goToSlide: function(n) {
      const deck = document.getElementById('slide-deck');
      const slides = this.$children;
      if(n >= 0 && n < slides.length) {
        const new_slide = slides[n].$el;
        const new_offset = new_slide.offsetLeft;
        deck.scrollLeft = new_offset;
        this.slideNumber = n;
      }
    },
    onKey: function(event) {
      if(event.keyCode === 39) { // ArrowRight
        this.forward();
      } else if(event.keyCode === 37) { // ArrowLeft
        this.backward();
      } else if(event.keyCode === 36) { // Home
        this.goToSlide(0);
      } else if(event.keyCode == 35) { // End
        this.goToSlide(this.$children.length - 1);
      } else {
        const slides = this.$children;
        const current_slide = slides[this.slideNumber];
        if(current_slide.onKey) {
          current_slide.onKey(event);
        }
      }
    },
    onResize: function() {
      this.goToSlide(this.slideNumber);
    },
    onSwipe: function(event) {
      const swipeRatio = event.swipe.x / event.size.width;
      if(swipeRatio < -0.3) {
        this.forward();
      } else if(swipeRatio > 0.3) {
        this.backward();
      }
    }
  },
  created: function() {
    window.addEventListener('keyup', this.onKey);
    window.addEventListener('resize', this.onResize);
  },
  mounted: function() {
    const slides = this.$children;
    for(let i = 0; i < slides.length; i++) {
      slides[i].$on('swipe', this.onSwipe);
    }
  }
}
</script>

<style>
html, body {
  padding: 0;
  margin: 0;
}
#slide-viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#slide-deck {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
}
.slide-control {
  font-size: 3em;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
}
#slide-viewport:hover .slide-control {
  opacity: 1;
}
.slide-control-forward {
  right: 0;
}
.slide-control-backward {
  left: 0;
}
.slide-control a {
  text-decoration: none;
  cursor: pointer;
}
</style>
