<template>
  <div id="app">
    <SlideDeck>
      <Slide layout="title">
        <h1>Web and <b>C</b><b>o</b><b>l</b><b>o</b><b>u</b><b>r</b><b>s</b></h1>
        <div id="license">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
          <span>
            The content of this talk is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
          </span>
        </div>
      </Slide>
      <Slide>
        <h2>How do we See Colour?</h2>
        <div class="content">
          <svg viewBox="0 -1 400 100">
            <defs>
              <linearGradient id="spectrumGradient">
                <stop offset="0%" stop-color="purple" />
                <stop offset="20%" stop-color="blue" />
                <stop offset="30%" stop-color="cyan" />
                <stop offset="40%" stop-color="#0f0" />
                <stop offset="55%" stop-color="yellow" />
                <stop offset="60%" stop-color="orange" />
                <stop offset="90%" stop-color="red" />
              </linearGradient>
            </defs>
            <rect fill="url(#spectrumGradient)" stroke="none" x="50" y="0" width="300" height="20" />
            <line x1="0" y1="0" x2="400" y2="0" stroke="black" stroke-width="1" />
            <line x1="0" y1="20" x2="400" y2="20" stroke="black" stroke-width="1" />
            <text text-anchor="middle" x="25" y="15">UV</text>
            <text text-anchor="middle" x="375" y="15">IR</text>
            <line x1="50" y1="0" x2="50" y2="25" stroke="black" stroke-width="1" stroke-dasharray="3 1" />
            <line x1="350" y1="0" x2="350" y2="25" stroke="black" stroke-width="1" stroke-dasharray="3 1" />
            <text text-anchor="middle" class="label" x="50" y="35">400nm</text>
            <text text-anchor="middle" class="label" x="95" y="35">445nm</text>
            <text text-anchor="middle" class="label" x="185" y="35">535nm</text>
            <text text-anchor="middle" class="label" x="225" y="35">575nm</text>
            <text text-anchor="middle" class="label" x="350" y="35">700nm</text>
            <path stroke="blue" stroke-width="2" fill="none"
              d="M50,80C60,70 80,40 95,40C120,40 170,90 200,90" />
            <path stroke="#0f0" stroke-width="2" fill="none"
              d="M85,90C120,90 160,40 185,40C210,40 250,90 285,90" />
            <path stroke="red" stroke-width="2" fill="none"
              d="M125,90C160,90 200,40 225,40C250,40 290,90 350,90" />
            <line x1="50" y1="40" x2="50" y2="95" stroke="black" stroke-width="1" stroke-dasharray="3 1" />
            <line x1="350" y1="40" x2="350" y2="95" stroke="black" stroke-width="1" stroke-dasharray="3 1" />
          </svg>
          <p>One type of cones excited:
            <span class="blue">BLUE</span>&nbsp;<span class="green">GREEN</span>&nbsp;<span class="red">RED</span>
          </p>
          <p>Two types of cones excited:
            <span class="cyan">CYAN</span>&nbsp;<span class="yellow">YELLOW</span>
          </p>
          <p>All types of cones excited: <span class="white">WHITE</span></p>
          <p>The Curious Case of <span class="magenta">MAGENTA</span></p>
        </div>
      </Slide>
      <Slide>
        <h2>Additive and Subtractive Colours</h2>
        <div class="content">
          <p>Creating light: additive colours</p>
          <svg viewBox="0 0 400 50">
            <circle cx="50" cy="25" r="10" stroke="black" stroke-width="1" fill="blue" />
            <path d="M70,20v10h110v5l10,-10l-10,-10v5z" stroke="black" stroke-width="1" fill="blue" />
            <g class="eye">
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="none" fill="white" />
              <circle cx="225" cy="25" r="8" stroke="#642" stroke-width="8" fill="#66f" />
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="#700" stroke-width="3" fill="none" />
            </g>
            <image x="300" y="0" width="50" height="50" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/AdditiveColor.svg/1200px-AdditiveColor.svg.png" />
          </svg>
          <p>Reflecting light: subtractive colours</p>
          <svg viewBox="0 0 400 50">
            <circle cx="50" cy="12" r="10" stroke="black" stroke-width="1" fill="white" />
            <path d="M65,15l-5,5l10,10l-3,3h10v-10l-3,3z" stroke="black" stroke-width="1" fill="white" />
            <rect x="80" y="30" width="20" height="15" stroke="black" stroke-width="1" fill="yellow" />
            <path d="M110,20v10h70v5l10,-10l-10,-10v5z" stroke="black" stroke-width="1" fill="yellow" />
            <g class="eye">
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="none" fill="white" />
              <circle cx="225" cy="25" r="8" stroke="#642" stroke-width="8" fill="#ff6" />
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="#700" stroke-width="3" fill="none" />
            </g>
            <image x="300" y="0" width="50" height="50" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/SubtractiveColor.svg/1200px-SubtractiveColor.svg.png" />
          </svg>
          <p>CMYK: subtractive colours (CMY) with added blacK</p>
        </div>
      </Slide>
      <Slide>
        <h2>CSS RGB Notation</h2>
        <div class="content">
          <p>You can specify colour by name: <span style="background-color: pink;">pink</span>,
            <span style="background-color: HotPink">HotPink</span></p>
          <p>For a full range of colours, use the <code>rgb</code> function:
            <span style="background-color: rgb(255, 127, 0);">rgb(255, 127, 0)</span></p>
          <p>Each attribute is a value between <code>0</code> and <code>255</code>,
            maximum unsigned integer that can be coded in 8 bits:</p>
          <ul>
            <li>binary (base 2): <code>11111111</code></li>
            <li>hexadecimal (base 16): <code>ff</code></li>
            <li>decimal (base 10): <code>255</code></li>
          </ul>
          <p>Total combinations: 16,777,216</p>
          <p>CSS hexadecimal notation: <span style="background-color: #ff7f00;">#ff7f00</span>, or broken down:
            <span class="white">#</span><span class="red">ff</span><span class="green">7f</span><span class="blue">00</span></p>
          <p>CSS hexadecimal shorthand: <span style="background-color: #f70;">#f70</span>, same as:
            <span style="background-color: #ff7700;">#ff7700</span></p>
        </div>
      </Slide>
      <Slide>
        <h2>CSS HSL Notation</h2>
        <div class="content">
          <p>RGB is not an intuitive way to define colours so CSS offers another option: HSL</p>
          <dl class="hsl">
            <dt>Hue</dt>
            <dd class="hue"><span>0</span><span class="slider"></span><span>360</span></dd>
            <dt>Saturation</dt>
            <dd class="saturation"><span>0%</span><span class="slider"></span><span>100%</span></dd>
            <dt>Lightness</dt>
            <dd class="lightness"><span>0%</span><span class="slider"></span><span>100%</span></dd>
          </dl>
          <p>Start with a base colour, build a monochrome palette by adjusting saturation and lightness</p>
          <dl class="hsl-example">
            <dt>Tint</dt>
            <dd><span style="background-color: hsl(330, 100%, 75%)">hsl(330, 100%, 75%)</span>
              <span style="background-color: hsl(330, 50%, 75%)">hsl(330, 50%, 75%)</span>
              <span style="background-color: hsl(330, 25%, 75%)">hsl(330, 25%, 75%)</span></dd>
            <dt>Base</dt>
            <dd><span style="background-color: hsl(330, 100%, 50%)">hsl(330, 100%, 50%)</span>
              <span style="background-color: hsl(330, 50%, 50%)">hsl(330, 50%, 50%)</span>
              <span style="background-color: hsl(330, 25%, 50%)">hsl(330, 25%, 50%)</span></dd>
            <dt>Shade</dt>
            <dd><span style="background-color: hsl(330, 100%, 25%); color: white">hsl(330, 100%, 25%)</span>
              <span style="background-color: hsl(330, 50%, 25%); color: white">hsl(330, 50%, 25%)</span>
              <span style="background-color: hsl(330, 25%, 25%); color: white">hsl(330, 25%, 25%)</span></dd>
          </dl>
        </div>
      </Slide>
      <Slide>
        <h2>Opacity (aka Alpha channel)</h2>
        <div class="content">
          <p>A partially transparent material reflects some light and lets some through</p>
          <svg viewBox="0 0 400 70">
            <circle cx="50" cy="12" r="10" stroke="black" stroke-width="1" fill="white" />
            <path d="M65,15l-5,5l10,10l-3,3h10v-10l-3,3z" stroke="black" stroke-width="1" fill="white" />
            <rect x="70" y="40" width="49" height="5" stroke="black" stroke-width="1" fill="rgba(255,0,0,0.5)" />
            <rect x="80" y="50" width="20" height="15" stroke="black" stroke-width="1" fill="yellow" />
            <path d="M110,20v10h70v5l10,-10l-10,-10v5z" stroke="black" stroke-width="1" fill="rgb(255,195,63)" />
            <g class="eye">
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="none" fill="white" />
              <circle cx="225" cy="25" r="8" stroke="#642" stroke-width="8" fill="#f93" />
              <path d="M200,25q25,-25 50,0q-25 25 -50,0Z" stroke="#700" stroke-width="3" fill="none" />
            </g>
          </svg>
          <p>Alpha value: <code>rgba(255, 0, 0, ?)</code> or <code>hsla(0, 100%, 50%, ?)</code></p>
          <svg viewBox="0 0 400 50">
            <rect x="10" y="10" width="380" height="10" stroke="none" fill="yellow" />
            <rect x="10" y="30" width="380" height="10" stroke="none" fill="black" />
            <rect x="20" y="5" width="40" height="40" stroke="none" fill="rgba(255,0,0,10%)" />
            <text class="label" x="40" y="28" text-anchor="middle">10%</text>
            <rect x="100" y="5" width="40" height="40" stroke="none" fill="rgba(255,0,0,25%)" />
            <text class="label" x="120" y="28" text-anchor="middle">25%</text>
            <rect x="180" y="5" width="40" height="40" stroke="none" fill="rgba(255,0,0,50%)" />
            <text class="label" x="200" y="28" text-anchor="middle">50%</text>
            <rect x="260" y="5" width="40" height="40" stroke="none" fill="rgba(255,0,0,75%)" />
            <text class="label" x="280" y="28" text-anchor="middle">75%</text>
            <rect x="340" y="5" width="40" height="40" stroke="none" fill="rgba(255,0,0,90%)" />
            <text class="label" x="360" y="28" text-anchor="middle">90%</text>
          </svg>
        </div>
      </Slide>
      <Slide layout="title">
        <h1>Accessibility</h1>
      </Slide>
      <Slide>
        <h2>Contrast</h2>
        <div class="content">
          <p>Contrast, font size and weight impact legibility</p>
          <div class="contrast-grid">
            <p class="small-text low-contrast">codebar</p>
            <p class="small-text medium-contrast">codebar</p>
            <p class="small-text high-contrast">codebar</p>
            <p class="medium-text low-contrast">codebar</p>
            <p class="medium-text medium-contrast">codebar</p>
            <p class="medium-text high-contrast">codebar</p>
            <p class="big-text low-contrast">codebar</p>
            <p class="big-text medium-contrast">codebar</p>
            <p class="big-text high-contrast">codebar</p>
            <p class="medium-text bold-text low-contrast">codebar</p>
            <p class="medium-text bold-text medium-contrast">codebar</p>
            <p class="medium-text bold-text high-contrast">codebar</p>
          </div>
          <p>For more info check the Web Content Accessibility Guidelines (WCAG):
            Guideline 1.4</p>
        </div>
      </Slide>
      <Slide>
        <h2>Colour Blindness</h2>
        <div class="content">
          <p>Decreased ability to see colour or differences in colour</p>
          <p>Affects 8% of men and 0.5% of women</p>
          <div class="images-colourblind">
            <figure><img src="./assets/codebar-trichromat.png" /><figcaption>Normal vision (trichromat)</figcaption></figure>
            <figure><img src="./assets/codebar-protanopia.png" /><figcaption>Protanopia (dichromat, anomalous red cones)</figcaption></figure>
            <figure><img src="./assets/codebar-tritanopia.png" /><figcaption>Tritanopia (dichromat, anomalous blue cones)</figcaption></figure>
          </div>
          <p>WCAG Guideline 1.4.1:</p>
          <blockquote>
            Color is not used as the only visual means of conveying information,
            indicating an action, prompting a response, or distinguishing a visual element.
          </blockquote>
          <p>Adapt charts and graphs to use accessible colour palettes</p>
        </div>
      </Slide>
      <Slide layout="title">
        <h1>Tools</h1>
      </Slide>
      <Slide>
        <h2>ColorZilla <a class="jump" href="https://www.colorzilla.com/" target="_blank">↗</a></h2>
        <iframe src="https://www.colorzilla.com/"></iframe>
      </Slide>
      <Slide>
        <h2>Paletton <a class="jump" href="https://paletton.com/" target="_blank">↗</a></h2>
        <iframe src="https://paletton.com/"></iframe>
      </Slide>
      <Slide>
        <h2>WebAIM Contrast Checker <a class="jump" href="https://webaim.org/resources/contrastchecker/" target="_blank">↗</a></h2>
        <iframe src="https://webaim.org/resources/contrastchecker/"></iframe>
      </Slide>
      <Slide>
        <h2>Colorblind Web Page Filter <a class="jump" href="https://www.toptal.com/designers/colorfilter" target="_blank">↗</a></h2>
        <iframe src="https://www.toptal.com/designers/colorfilter"></iframe>
      </Slide>
      <Slide>
        <h2>References</h2>
        <ul class="content">
          <li><a href="https://en.wikipedia.org/wiki/Visible_spectrum">Visible Spectrum</a></li>
          <li><a href="http://hyperphysics.phy-astr.gsu.edu/hbase/vision/colcon.html">Colour-Sensitive Cones</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Magenta">Magenta</a></li>
          <li>
            <a href="https://en.wikipedia.org/wiki/Additive_color">Additive</a> and
            <a href="https://en.wikipedia.org/wiki/Subtractive_color">Subtractive</a> colours
          </li>
          <li><a href="https://www.w3schools.com/colors/colors_names.asp">HTML Colour Names</a></li>
          <li><a href="https://www.mathsisfun.com/binary-decimal-hexadecimal.html">Binary, Decimal and Hexadecimal Numbers</a></li>
          <li><a href="https://www.w3schools.com/colors/colors_hsl.asp">HSL Calculator</a></li>
          <li><a href="https://www.quackit.com/css/color/values/css_hsl_function.cfm">CSS hsl() function</a></li>
          <li><a href="https://www.w3.org/WAI/WCAG21/quickref/?tags=color">WCAG Reference on Colour</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Color_blindness">Colour Blindness</a></li>
          <li><a href="https://www.color-blindness.com/coblis-color-blindness-simulator/">Coblid Colour Blindness Simulator (for images)</a></li>
          <li><a href="https://venngage.com/blog/color-blind-friendly-palette/">How to Optimize Charts For Color Blind Readers Using Color Blind Friendly Palettes</a></li>
        </ul>
      </Slide>
      <Slide layout="title">
        <h1>Questions?</h1>
      </Slide>
    </SlideDeck>
  </div>
</template>

<script>
import SlideDeck from './components/SlideDeck.vue'
import Slide from './components/Slide.vue'

export default {
  name: 'app',
  components: {
    SlideDeck,
    Slide
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 1.5rem 3rem;
  border: 1px dotted #ccc;
  box-shadow: 0px 10px 5px -5px #333;
}
h1 b:nth-of-type(1) {
  color: red;
}
h1 b:nth-of-type(2) {
  color: orange;
}
h1 b:nth-of-type(3) {
  color: yellow;
}
h1 b:nth-of-type(4) {
  color: green;
}
h1 b:nth-of-type(5) {
  color: blue;
}
h1 b:nth-of-type(6) {
  color: indigo;
}
h1 b:nth-of-type(7) {
  color: magenta;
}
h2 {
  border-bottom: 1px dotted #ccc;
  box-shadow: 0px 10px 5px -5px #333;
  padding: 2rem;
  margin: 0;
  background-color: #eee;
}
.content {
  margin: 2rem;
}
svg {
  width: 100%;
  font-size: 50%;
}
svg text.label {
  font-size: 50%;
}
iframe {
  width: 100%;
  height: 80vh;
}
span.red {
  background-color: black;
  color: red;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.green {
  background-color: black;
  color: #0f0;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.blue {
  background-color: black;
  color: blue;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.cyan {
  background-color: black;
  color: cyan;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.yellow {
  background-color: black;
  color: yellow;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.magenta {
  background-color: black;
  color: magenta;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span.white {
  background-color: black;
  color: white;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
span[style] {
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  font-weight: bold;
}
code {
  font-family: monospace;
  color: #a00;
}
dl {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-row-gap: 0.5rem;
}
dl.hsl dd {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-column-gap: 0.5rem;
}
dl.hsl dd span:nth-of-type(1) {
  text-align: right;
}
dl.hsl dd span:nth-of-type(3) {
  text-align: left;
}
dl.hsl span.slider {
  border: 1px solid #ccc;
}
dd.hue span.slider {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
    );
}
dd.saturation span.slider {
  background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 100%, 50%));
}
dd.lightness span.slider {
  background: linear-gradient(to right, hsl(0, 100%, 0%), hsl(0, 100%, 50%), hsl(0, 100%, 100%));
}
dl.hsl-example dd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  text-align: center;
}
h2 a.jump {
  display: none;
  text-decoration: none;
  font-size: 0.9em;
}
h2:hover a.jump {
  display: inline;
}
div.contrast-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}
div.contrast-grid p {
  text-align: center;
  margin: 0;
}
div.contrast-grid p.small-text {
  font-size: 0.8rem;
  padding: 1.6rem 0;
}
div.contrast-grid p.medium-text {
  font-size: 1.2rem;
  padding: 1.4rem 0;
}
div.contrast-grid p.big-text {
  font-size: 1.6rem;
  padding: 1.2rem 0;
}
div.contrast-grid p.bold-text {
  font-weight: bold;
}
div.contrast-grid p.low-contrast {
  background-color: hsl(250, 100%, 40%);
  color: hsl(250, 100%, 55%);
}
div.contrast-grid p.medium-contrast {
  background-color: hsl(250, 100%, 30%);
  color: hsl(250, 100%, 70%);
}
div.contrast-grid p.high-contrast {
  background-color: hsl(250, 100%, 15%);
  color: hsl(250, 100%, 85%);
}
div.images-colourblind {
  display: flex;
}
div.images-colourblind figure {
  margin: 0 1rem;
  position: relative;
}
div.images-colourblind img {
  width: 28vw;
  height: 14vw;
}
div.images-colourblind figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
}
blockquote {
  font-style: italic;
}
blockquote:before {
  color: #700;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-left: -2rem;
  vertical-align: -0.8rem;
}
blockquote:after {
  color: #700;
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: -2rem;
  vertical-align: -2.5rem;
}
#license {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  font-size: 50%;
  display: flex;
  align-items: center;
}
#license > span {
  margin-left: 1rem;
}
</style>
